In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('security.csv')
df.head()
df['TIPO'] = df['TIPO'].map({'Maligna': 1, 'Benigna': 0})

In [3]:
pd.options.display.max_columns = 24
df.describe(include='all')

,URL,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CHARSET,SERVER,CACHE_CONTROL,CONTENT_LENGTH,WHOIS_COUNTRY,WHOIS_STATE_CITY,WHOIS_REG_YEAR,UPDATE_YEAR,DOMAIN_NAME,TCP_CONVERSATION_EXCHANGE,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,UDP_PACKETS,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,TIPO
count,1611,1611.000000,1611.000000,1611,1611,1611,1611.000000,1611,1611,1611.000000,1611.000000,1611,1611.000000,1611.000000,1611.000000,1.611000e+03,1611.0,1611.000000,1611.000000,1.611000e+03,1.611000e+03,1611.000000,1611.000000,1611.000000
unique,1611,NaN,NaN,9,118,142,NaN,43,160,NaN,NaN,933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,B0_1364,NaN,NaN,UTF-8,Apache/2.2.29 (Unix),None,NaN,US,California,NaN,NaN,coleyglesias.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,597,286,703,NaN,1191,450,NaN,NaN,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,58.051521,11.187461,NaN,NaN,NaN,11188.708876,NaN,NaN,2001.658597,2016.232775,NaN,15.625078,5.464308,2.965239,3.071903e+03,0.0,17.787089,17.998138,1.483835e+04,3.237232e+03,17.787089,2.155804,0.098076
std,NaN,28.162183,4.700296,NaN,NaN,NaN,22997.397319,NaN,NaN,5.218352,1.123910,NaN,40.586718,21.738832,3.390895,5.892612e+04,0.0,41.655940,45.957305,6.583941e+04,5.892877e+04,41.655940,2.883439,0.297509
min,NaN,17.000000,6.000000,NaN,NaN,NaN,0.000000,NaN,NaN,1990.000000,2008.000000,NaN,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,NaN,39.000000,8.000000,NaN,NaN,NaN,1825.500000,NaN,NaN,1997.000000,2016.000000,NaN,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
50%,NaN,50.000000,10.000000,NaN,NaN,NaN,11260.000000,NaN,NaN,2001.000000,2017.000000,NaN,7.000000,0.000000,2.000000,6.180000e+02,0.0,7.000000,8.000000,5.080000e+02,6.300000e+02,7.000000,0.000000,0.000000
75%,NaN,69.000000,13.000000,NaN,NaN,NaN,11260.000000,NaN,NaN,2005.000000,2017.000000,NaN,22.000000,5.000000,5.000000,2.314000e+03,0.0,26.000000,24.000000,9.661500e+03,2.635500e+03,26.000000,4.000000,0.000000
max,NaN,249.000000,43.000000,NaN,NaN,NaN,649263.000000,NaN,NaN,2017.000000,2018.000000,NaN,1194.000000,708.000000,16.000000,2.362906e+06,0.0,1198.000000,1284.000000,2.060012e+06,2.362906e+06,1198.000000,14.000000,1.000000

In [4]:
df.drop('URL', axis=1, inplace=True)
df.drop('NUMBER_SPECIAL_CHARACTERS', axis=1, inplace=True)
df.drop('CHARSET', axis=1, inplace=True)
df.drop('SERVER', axis=1, inplace=True)
df.drop('CACHE_CONTROL', axis=1, inplace=True)
df.drop('CONTENT_LENGTH', axis=1, inplace=True)
df.drop('TCP_CONVERSATION_EXCHANGE', axis=1, inplace=True)
df.drop('DIST_REMOTE_TCP_PORT', axis=1, inplace=True)
df.drop('REMOTE_IPS', axis=1, inplace=True)
df.drop('APP_BYTES', axis=1, inplace=True)
df.drop('UDP_PACKETS', axis=1, inplace=True)
df.drop('SOURCE_APP_PACKETS', axis=1, inplace=True)
df.drop('REMOTE_APP_PACKETS', axis=1, inplace=True)
df.drop('SOURCE_APP_BYTES', axis=1, inplace=True)
df.drop('REMOTE_APP_BYTES', axis=1, inplace=True)
df.drop('APP_PACKETS', axis=1, inplace=True)
df.drop('DNS_QUERY_TIMES', axis=1, inplace=True)

In [5]:
print(df.isnull().sum())
df[pd.isnull(df).any(axis=1)]

URL_LENGTH          0
WHOIS_COUNTRY       0
WHOIS_STATE_CITY    0
WHOIS_REG_YEAR      0
UPDATE_YEAR         0
DOMAIN_NAME         0
TIPO                0
dtype: int64

Empty DataFrame
Columns: [URL_LENGTH, WHOIS_COUNTRY, WHOIS_STATE_CITY, WHOIS_REG_YEAR, UPDATE_YEAR, DOMAIN_NAME, TIPO]
Index: []

In [6]:
df = df.interpolate()
print(df.isnull().sum())

URL_LENGTH          0
WHOIS_COUNTRY       0
WHOIS_STATE_CITY    0
WHOIS_REG_YEAR      0
UPDATE_YEAR         0
DOMAIN_NAME         0
TIPO                0
dtype: int64

In [7]:
df.describe(include='all')

,URL_LENGTH,WHOIS_COUNTRY,WHOIS_STATE_CITY,WHOIS_REG_YEAR,UPDATE_YEAR,DOMAIN_NAME,TIPO
count,1611.000000,1611,1611,1611.000000,1611.000000,1611,1611.000000
unique,NaN,43,160,NaN,NaN,933,NaN
top,NaN,US,California,NaN,NaN,coleyglesias.com,NaN
freq,NaN,1191,450,NaN,NaN,62,NaN
mean,58.051521,NaN,NaN,2001.658597,2016.232775,NaN,0.098076
std,28.162183,NaN,NaN,5.218352,1.123910,NaN,0.297509
min,17.000000,NaN,NaN,1990.000000,2008.000000,NaN,0.000000
25%,39.000000,NaN,NaN,1997.000000,2016.000000,NaN,0.000000
50%,50.000000,NaN,NaN,2001.000000,2017.000000,NaN,0.000000
75%,69.000000,NaN,NaN,2005.000000,2017.000000,NaN,0.000000
max,249.000000,NaN,NaN,2017.000000,2018.000000,NaN,1.000000

In [8]:
dataset_with_dummies = pd.get_dummies(df,prefix_sep='--')
#print(dataset_with_dummies.head())
dataset_with_dummies.to_csv('d1.csv')

In [9]:
dataset_with_dummies.columns

Index(['URL_LENGTH', 'WHOIS_REG_YEAR', 'UPDATE_YEAR', 'TIPO',
       'WHOIS_COUNTRY--AT', 'WHOIS_COUNTRY--AU', 'WHOIS_COUNTRY--BE',
       'WHOIS_COUNTRY--BG', 'WHOIS_COUNTRY--BR', 'WHOIS_COUNTRY--BS',
       ...
       'DOMAIN_NAME--yelp.ca', 'DOMAIN_NAME--yelp.com', 'DOMAIN_NAME--ynn.com',
       'DOMAIN_NAME--yolasite.com', 'DOMAIN_NAME--yourbittorrent.com',
       'DOMAIN_NAME--youtube.com', 'DOMAIN_NAME--ysusports.com',
       'DOMAIN_NAME--zenfolio.com', 'DOMAIN_NAME--zillow.com',
       'DOMAIN_NAME--zimbio.com'],
      dtype='object', length=1140)